:root {
    /* Color palettes */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 1.5em;
    padding: 1.5em;
}

#nav a {
    text-decoration: none;
}

main {
    display: grid;
    grid-template-areas: 
    "desc img"
    "ingr equip"
    "dir dir";
    padding: 1.5em;
}

#description {
    grid-area: desc;
}

#equipment {
    grid-area: equip;
}

#ingredients {
    grid-area: ingr;
}

#directions {
    grid-area: dir;
}